fastapi
uvicorn[standard]
langchain
langchain-chroma
langchain-core
langchain-community
langchain-huggingface
chromadb
pydantic
python-dotenv
transformers
accelerate
sentence_transformers
pymupdf
unstructured
unstructured[pdf]
markdown
tqdm
redis
psycopg[binary]
SQLAlchemy
mlflow
